/* Your banner CSS file */

h1 {
  color: white;
  font-size: 100px;
}

a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}
.banner {
  text-align: center;
  background-size: contain;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.banner-form {
  padding: 25px;
}
